{% load static %}

 <script src="https://cdn.tailwindcss.com"></script>

<div  class="max-h-fit  max-w-full flex items-center justify-center box-content mt-20 sm:mt-0">
  <div class="flex-row w-2/4 h-full">
        <div class="md:col-span-1 m-35">
          <div class="px-4 sm:px-0 m-10">
              <h3 class="text-lg font-medium leading-6 text-gray-900">Personal Information</h3>
              <p class="mt-1 text-sm text-gray-500">Use a permanent email address where you can receive our mail.</p>
          </div>
        </div>
    <div class="mt-10 md:mt-0 md:col-span-2 bg-indigo-600 flex-auto items-center justify-center rounded">
      
      <form action="{% url 'register' %}" method="POST">
       {% csrf_token %}
        <div class="shadow overflow-hidden sm:rounded-md">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="md:col-span-1 m-35">
              
          <div class="px-4 sm:px-0 m-10 flex justify-between gap-3">
              
              <h3 class="text-lg font-medium leading-6 text-gray-900">Signup </h3>
              <img class="h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
               <p class="mt-1 text-sm text-gray-900">Already have an acount? <a href="{% url 'login' %}" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"> Login</a></p>
          </div>
        </div>
                      {% if form.errors %}
            <div class="rounded-md bg-red-50 p-4 show-message">
                    <div class="flex">
                            <div class="flex-shrink-0">
                            <!-- Heroicon name: solid/x-circle -->
                                    <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                                    </svg>
                            </div>
                            <div class="ml-3">
                                <h3 class="text-sm font-medium text-red-800">Error</h3>
                                <div class="mt-2 text-sm text-red-700">
                                    <ul role="list" class="list-disc pl-5 space-y-1">
                                      {% for field in form %}
                                    {% for error  in field.errors %}
                                        <li>{{ error}}🙄</li>
                                      {% endfor %}
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                    </div>
            </div>
            {% endif %}

             {% if messages %}
               {% for message  in messages %}
                    {% if message.tags == "error" %}
                    <div class="rounded-md bg-red-50 p-4 show-message">
                    <div class="flex">
                            <div class="flex-shrink-0">
                            <!-- Heroicon name: solid/x-circle -->
                                    <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                                    </svg>
                            </div>
                            <div class="ml-3">
                                <h3 class="text-sm font-medium text-red-400">Error</h3>
                                <div class="mt-2 text-sm text-red-400">
                                    <ul role="list" class="list-disc pl-5 space-y-1">
                                  
                                    <p>{{ message }}🎉</p>
                                    </ul>
                                </div>
                            </div>
                    </div>
            </div>
                    {% else %}
                    <div class="rounded-md bg-green-50 p-4 show-message">
                    <div class="flex">
                            <div class="flex-shrink-0">
                            <!-- Heroicon name: solid/x-circle -->
                                    <svg class="h-5 w-5 text-green-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                                    </svg>
                            </div>
                            <div class="ml-3">
                                <h3 class="text-sm font-medium text-green-300">Success</h3>
                                <div class="mt-2 text-sm text-green-300">
                                    <ul role="list" class="list-disc pl-5 space-y-1">
                                  
                                    <p>{{ message }} {{message.tags}}🎉</p>
                                      
                                    </ul>
                                </div>
                            </div>
                    </div>
            </div>
                    {% endif %}
          {% endfor %}
            
    {% endif %}
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-3">
                <label for="first-name" class="block text-sm font-medium text-gray-700">First name</label>
                {{form.first_name}}
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label for="last-name" class="block text-sm font-medium text-gray-700">Last name</label>
                {{form.last_name}}
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label for="last-name" class="block text-sm font-medium text-gray-700">User name</label>
                {{form.username}}
              </div>

              <div class="col-span-6 sm:col-span-3">
                <label for="email-address" class="block text-sm font-medium text-gray-700">Email address</label>
                {{form.email}}
              </div>

              <div class="col-span-6 sm:col-span-6">
                <label for="country" class="block text-sm font-medium text-gray-700">Country</label>
                <select id="country" name="country" autocomplete="country-name" class="mt-1 block w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
                  <option>Nigeria</option>/
                  <option>United States</option>
                  <option>Canada</option>
                  <option>Others(Europe)</option>
                </select>
              </div>

              <div class="col-span-6 sm:col-span-6 lg:col-span-2">
                <label for="city" class="block text-sm font-medium text-gray-700">Password</label>
               {{form.password}}
              </div>

              <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="region" class="block text-sm font-medium text-gray-700">Confirm Password</label>
                {{form.confirm_password}}
              </div>
              <div class="col-span-6 sm:col-span-3 lg:col-span-2">
                <label for="postal-code" class="block text-sm font-medium text-gray-700">Phone Number</label>
                {{form.phone_number}}
              </div>
            </div>
          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"> Register</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  document.querySelector("#id").classList = mt-1 focus: ring-indigo-500 focus: border-indigo-500 block w-full shadow-sm sm: text-sm border-gray-300 rounded-md"
</script>