
{% extends 'account/base.html' %}
{% load static %}
{% load tailwind_tags %}
{% tailwind_css %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
     <script src="https://cdn.tailwindcss.com"></script>
    {% block title %}
      <title>Caper</title>
    {% endblock %}
   
  </head>
  <body>
   
    {% block content %}
      <div class="container-fluid max-w-7xl mx-auto py-6">
        {% if error %}
        <span href="#" class="font-medium text-red-600 ">{{error}}</span>
        {% endif %}
        <form class="space-y-8 divide-y divide-gray-200" method="POST" action="{% url 'create-contact' request.user.pk %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% if form.errors %}
            <div class="rounded-md bg-red-50 p-4 show-message">
                    <div class="flex">
                            <div class="flex-shrink-0">
                            <!-- Heroicon name: solid/x-circle -->
                                    <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                                    </svg>
                            </div>
                            <div class="ml-3">
                                <h3 class="text-sm font-medium text-red-800">Error</h3>
                                <div class="mt-2 text-sm text-red-700">
                                    <ul role="list" class="list-disc pl-5 space-y-1">
                                      {% for field in form %}
                                    {% for error  in field.errors %}
                                        <li>{{ error}}</li>
                                      {% endfor %}
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                    </div>
            </div>
            {% endif %}

             {% if messages %}
               {% for message  in messages %}
                    {% if message.tags == "error" %}
                    <div class="rounded-md bg-red-50 p-4 show-message">
                    <div class="flex">
                            <div class="flex-shrink-0">
                            <!-- Heroicon name: solid/x-circle -->
                                    <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                                    </svg>
                            </div>
                            <div class="ml-3">
                                <h3 class="text-sm font-medium text-red-400">Error</h3>
                                <div class="mt-2 text-sm text-red-400">
                                    <ul role="list" class="list-disc pl-5 space-y-1">
                                  
                                    <p>{{ message }}</p>
                                    </ul>
                                </div>
                            </div>
                    </div>
            </div>
                    {% else %}
                    <div class="rounded-md bg-green-50 p-4 show-message">
                    <div class="flex">
                            <div class="flex-shrink-0">
                            <!-- Heroicon name: solid/x-circle -->
                                    <svg class="h-5 w-5 text-green-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
                                    </svg>
                            </div>
                            <div class="ml-3">
                                <h3 class="text-sm font-medium text-green-300">Success</h3>
                                <div class="mt-2 text-sm text-green-300">
                                    <ul role="list" class="list-disc pl-5 space-y-1">
                                  
                                    <p>{{ message }} {{message.tags}}</p>
                                      
                                    </ul>
                                </div>
                            </div>
                    </div>
            </div>
                    {% endif %}
          {% endfor %}
            
            {% endif %}
            <div class="pt-8">
              <div class="flex flex-col justify-center items-center">
                <h3 class="text-lg leading-6 font-medium text-gray-900">Contacts Information</h3>
                <p class="mt-1 text-sm text-gray-500">Create a new Contact.</p>
              </div>
              <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
                <div class="sm:col-span-3">
                  <label for="first-name" class="block text-sm font-medium text-gray-700">First name</label>
                  <div class="mt-1">
                   {{form.first_name}}
                  </div>
                </div>
                <div class="sm:col-span-3">
                  <label for="last-name" class="block text-sm font-medium text-gray-700">Last name</label>
                  <div class="mt-1">
                    {{form.last_name}}
                  </div>
                </div>
                <div class="sm:col-span-3">
                  <label for="first-name" class="block text-sm font-medium text-gray-700">Gender</label>
                  <div class="mt-1">
                   {{form.gender}}
                  </div>
                </div>
                <div class="sm:col-span-3">
                  <label for="last-name" class="block text-sm font-medium text-gray-700">Category</label>
                  <div class="mt-1">
                    {{form.category}}
                  </div>
                </div>
                
                <div class="sm:col-span-6">
                  <label for="photo" class="block text-sm font-medium text-gray-700">Profile Photo</label>
                  <div class="mt-1 flex items-center">
                    <span class="h-12 w-12 rounded-full overflow-hidden bg-gray-100">
                      <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                        <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                      </svg>
                    </span>
                    {{form.contact_avatar}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pt-5">
            <div class="flex justify-end">
              <button type="button" class="bg-white py-2 px-4 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Cancel</button>
              <button type="submit" class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Create Contact</button>
            </div>
          </div>
        </form>
      </div>
    {% endblock %}
  </body>
</html>

