
{% extends 'account/base.html' %}
{% load static tailwind_tags %}
{% tailwind_preload_css  %}
{% tailwind_css %}


{% block content %}
<div>


          <!-- Favourite Contacts list -->
          <div class="mt-8 max-w-5xl mx-auto px-4 pb-12 sm:px-6 lg:px-8">
            <h2 class="text-sm font-medium text-gray-500">Favourite Contacts</h2>
    
            <div class="mt-1 grid grid-cols-1 gap-4 sm:grid-cols-2">
               {% for fav_contact in contacts %}
              <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm flex items-center space-x-3 hover:border-gray-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-pink-500">
                <div class="flex-shrink-0">
                  <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                </div>
                <div class="flex-1 min-w-0">
                  <a href="{% url "contact-detail" fav_contact.pk %}" class="focus:outline-none">
                    <span class="absolute inset-0" aria-hidden="true"></span>
                    <p class="text-sm font-medium text-gray-900">{{fav_contact}}</p>
                    <p class="text-sm text-gray-500 truncate">{{fav_contact.gender}}</p>
                  </a>
                </div>

                {% comment %} {% if fav %} {% endcomment %}
                     <a href="{% url "favourite" fav_contact.pk %}" class="text-indigo-600 hover:text-indigo-900">Remove from Favourites</a>
                {% comment %} {% endif %} {% endcomment %}
              </div>
              {% endfor %}
            </div>
            
        </div>


</div>

{% endblock content %}