{% extends 'account/base.html' %}
{% load static %}
{% load tailwind_tags %}

{% tailwind_css %}


{% block css_content %}
   <style>
      #id_profile_pix, #profile_pix-clear_id {
        border-radius:5px;
        outline:2px solid transparent
        border-color: indigo;
      }
    </style>
{% endblock css_content %}
  
{% block content %}
<div  class="max-h-full w-full flex items-center justify-center box-content mt-20 sm:mt-0">
  <div class="flex-row w-2/4 h-full">
        <div class="md:col-span-1 m-35">
          <div class="px-4 sm:px-0 m-10">
              <h3 class="text-lg font-medium leading-6 text-gray-900">Import Contact as CSV File</h3>
              <p class="mt-1 text-sm text-gray-800">Update Your Profile.</p>
          </div>
        </div>
    <div class="mt-10 md:mt-0 md:col-span-2 bg-cyan-600 flex-auto items-center justify-center rounded">
      
      <form action="{% url 'import-contacts' request.user.pk %}" method="POST">
       {% csrf_token %}
        <div class="shadow overflow-hidden sm:rounded-lg">
          <div class="px-4 py-5 bg-white sm:p-6">
            <div class="md:col-span-1 m-35">
              
          <div class="px-4 sm:px-0 m-10 flex justify-between">
              <h3 class="text-lg font-medium leading-6 text-gray-900">Import</h3>
            <img class="block h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
            <p class="text-gray-800 mx-3 font-black">Contactly</p>
            
          </div>
        </div>
            {% if form.errors %}
            <div class="rounded-md bg-red-50 p-4">
  <div class="flex">
    <div class="flex-shrink-0">
      <!-- Heroicon name: solid/x-circle -->
      <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
        <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z" clip-rule="evenodd" />
      </svg>
    </div>
    <div class="ml-3">
      <h3 class="text-sm font-medium text-red-800">Error</h3>
      <div class="mt-2 text-sm text-red-700">
        <ul role="list" class="list-disc pl-5 space-y-1">
          {% for error  in form.errors %}
          <li>{{ error}}</li>
            {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}
              <div class="col-span-6 sm:col-span-6 lg:col-span-9 ">
                <label for="last-name" class="block text-sm font-medium text-gray-700">Profile Picture</label>
                <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
                </svg>
                {{form.file_name}}
              </div>
            </div>
          </div>
          <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
            <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-500 hover:bg-indigo-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Import File</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
  
